parameters:
    level: 8
    paths:
        - app
#        - tests
    bootstrapFiles:
        - bootstrap/app.php
    ignoreErrors:
        - identifier: interface.nameCase
        - identifier: class.nameCase
